body {
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://cdn.statically.io/img/statically.io/images/misc/clouds.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: initial;
  height: 100vh;
  color: rgb(255, 255, 255);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

appBar {
  display: flex;
}
